body{
	margin: 0px;
	padding: 0px;
	background: tomato;
}

.main {
	height: 100vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.box {
	width: 300px;
	height: 180px;
	background: tomato;
        position: absolute;
	top: 28%;
	left: 0;
}
.b2{
	top: 60%;

}

.img {
	height: 90px;
	width: 140px;

}

.box img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%,-48%)
}

.box:before,.box:after
{
	content: '';
	position: absolute;
	z-index: -1;
	box-shadow: 0 0 25px rgba(0,0,0,1);
	top: 23px;
	left: 23px;
	bottom: 23px;
	right: 10px;
	border-radius: 100px / 5px;
}

.info{
	font-family: fantasy;
	font-size: 32px;
	color: white;
	position: relative;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	z-index: -2;
}

.time {
	font-family: fantasy;
	font-size: 24px;
	letter-spacing: 2px;
}

.title{
	font-family: fantasy;
	font-size: 64px;
	color: #444;
	opacity: .2;
	letter-spacing: 25px;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*.trophy {
	position: absolute;
	bottom: -10%;
	right: -5%;
	transform: rotate(-20deg);
	opacity: .2;
}*/
	
